/* =======================================================================
Shell
========================================================================== */
.m-content,
.container {
	@include container;
	@include susy-grid-background;
}



/* =======================================================================
Content
========================================================================== */
.m-content{
	padding-top:90px;
	h2{
		margin-bottom:60px;
		text-align:center;
		&:after{
			content: " ";
			display:block;
			position:absolute;
			bottom:-22px;
			left:50%;
			margin-left:-25px;
			background:$grey;
			height:1px;
			width:50px;
		}
	}
	.m-items{
		margin-bottom:90px;
	}
}