/* =======================================================================
Font-face
========================================================================== */
/*
@font-face {
	font-family: 'MuseoSans300';
	src: url('../fonts/MuseoSans_300-webfont.eot');
	src: url('../fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSans_300-webfont.woff') format('woff'),
		 url('../fonts/MuseoSans_300-webfont.ttf')  format('truetype'),
		 url('../fonts/MuseoSans_300-webfont.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/


/* =======================================================================
Variables
========================================================================== */

// Colors
$grey-light: 				#ededed;
$grey: 						#d3d3d4;
$green: 					#5ad054;

// Fonts stacks
$font-stack:				Arial, Verdana, sans-serif;
$font-stack-alt:			Georgia, serif;
$font-size-base:			20px;
$line-height-base:			1.6;

// Typography
$color-text:				#333;
$color-link:				$green;
$color-link-visited:		$green;
$color-link-hover:			darken($color-link, 20%);
$color-link-active:			darken($color-link, 40%);

// Highlight
$color-selection:			$green;
$color-placeholder:			#ff0000;


/* =======================================================================
Layout
========================================================================== */

// Grid (susy)
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 20px;
$container-width: 780px;
$container-style: magic;
$show-grid-backgrounds: true;
