.m-hero{
	position:relative;
	min-height:480px;
	background:{
		image:image-url('mtl.jpg');
		size:cover;
		position:top center;
		repeat:no-repeat;
	}
	text-align:center;
	color:white;
	.b-start_now{
		position:absolute;
		bottom:48px;
		left:50%;
		margin-left:-13px;
	}
}