
$icons-layout:smart;
@import "icons/*.png";

.icon {
	display: inline-block;
	position: relative;
	@include hide-text;
}

.i-arrow {
		display:block;
		width: icons-sprite-width(i-arrow);
		height: icons-sprite-height(i-arrow);
		@include icons-sprite(i-arrow);
}
