.m-items{
	padding:0 40px;
	li{
		@extend .clearfix;
		position:relative;
		padding:22px 0;
		border-bottom:1px solid $grey-light;
		list-style:none;
		&.l-hasdetail{
			.title{
				cursor:pointer;
				&:hover{
					@include opacity(0.7);
				}
			}
			.i-arrow{
				position:absolute;
				left:-29px;
				top:32px;

				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in-out);
			}
		}

		// When detail is opened
		&.s-open .i-arrow{
			@include rotate(90deg);
		}

		&.s-checked .checkbox-wrapper{
			@include icons-sprite(i-check_active);
		}

		// When item doesn't apply
		&.s-closed{
			.title,
			.detail,
			.checkbox-wrapper,
			.i-arrow{
				@include opacity(0.2);
			}
		}

		&.s-checked{}

		&:hover{
			.b-close{@include opacity(1);}
		}
	}


	.checkbox-wrapper{
		display:block;
		float:right;
		cursor:pointer;
		width: icons-sprite-width(i-check);
		height: icons-sprite-height(i-check);
		@include icons-sprite(i-check);
		&:hover{
			@include icons-sprite(i-check_hover);
		}
		input{
			@extend .visuallyhidden;
		}
	}


	.title,
	.detail,
	.checkbox-wrapper,
	.i-arrow{
		@include transition-property(opacity, height);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);
	}


	.title{padding-right:45px;}

	.detail{
		clear:both;
		overflow: hidden;
		position: relative !important;
		width:100%;
		font-size:17px;
		p{
			margin:0;
		}
	}

	.b-close{
		position:absolute;
		right:-48px;
		top:26px;
		@include transition-property(opacity);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);

		@include opacity(0);
	}

}